:root {
  --navbar-back: rgb(105, 103, 129);
  --navbar-titles: #413f4f;
}

.CVPage {
  display: flex;
  font-size: 14px;
}

.CVPage .left-navbar {
  flex-grow: 1;
  background-color: var(--navbar-back);
  color: white;
  padding: 10px;
  min-width: 180px;
}

.left-navbar .border-bar {
  background-color: var(--navbar-titles);
  font-size: 16px;
  /* -10px allows it to touch the borders despite the padding 10 of parent container */
  margin: 5px -10px;
  padding: 0 10px;
  font-weight: 500;
}

.left-navbar .name-title {
  font-size: 1.3em;
  font-weight: 700;
}

.personal-information,
.skills,
.languages {
  font-size: 12px;
}
.padding-within-elements > * {
  padding: 5px 0;
}

.left-navbar .sub-title {
  font-weight: 500;
}

.skill-bar-1,
.skill-bar-2,
.skill-bar-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  height: 20px;
  width: 100%;
  border-radius: 10px;
}

/* These will be later on filled with javascript */
.skills .skill-bar-1 .bar-1 {
  background-color: white;
}

.skills .skill-bar-1.bar-level-1 .bar-1 {
  grid-column: 1 / 2;
}
.skills .skill-bar-1.bar-level-2 .bar-1 {
  grid-column: 1 / 3;
}
.skills .skill-bar-1.bar-level-3 .bar-1 {
  grid-column: 1 / 4;
}
.skills .skill-bar-1.bar-level-4 .bar-1 {
  grid-column: 1 / 5;
}

.languages .skill-bar-1 .bar-1 {
  background-color: white;
}

.languages .skill-bar-1.bar-level-1 .bar-1 {
  grid-column: 1 / 2;
}
.languages .skill-bar-1.bar-level-2 .bar-1 {
  grid-column: 1 / 3;
}
.languages .skill-bar-1.bar-level-3 .bar-1 {
  grid-column: 1 / 4;
}
.languages .skill-bar-1.bar-level-4 .bar-1 {
  grid-column: 1 / 5;
}

.CVPage .main-body {
  flex-grow: 1.5;
  padding: 10px;
  font-size: 12px;
  background-color: #f5f3ff;
}

.CVPage .main-body .sub-title {
  font-size: 16px;
  margin: 10px 0;
  font-weight: 500;

  border-top: 1px solid var(--navbar-titles);
  border-bottom: 1px solid var(--navbar-titles);
}

.CVPage .main-body .experience-grid,
.CVPage .main-body .education-grid {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.CVPage .main-body .experience-details,
.CVPage .main-body .education-details {
  grid-column: 2 / 6;
}

.CVPage .main-body .experience-details .title,
.CVPage .main-body .education-details .title {
  font-size: 15px;
  font-weight: 500;
}

.CVPage .main-body .title-location {
  font-style: italic;
}
