.CV-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  background-color: rgb(153, 153, 153);
  color: black;
  overflow: hidden;
}

.CV-section .CVPage {
  height: 842px;
  width: 595px;
  background-color: white;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
}

/* .CV-section #PDFViewer {
  width: 650px;
  height: 842px;
} */

.CV-wrapper {
  margin: 0 auto;
}
