.form-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section .forms fieldset {
  padding: 10px;
}

.form-section .forms legend {
  font-size: 0.8rem;
  padding: 0 5px;
}
