.form-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  overflow: scroll;
  overflow-x: hidden;

  padding-top: 1rem;
}

/* font-size: rem
width: % in combination with a max-width, ch
height: question yourself "do I really need to set height" if yes -> use a min-height
padding/margin: rem or em, kevin often uses em for padding of buttons
media queries: em

px only for little things like shadows, borders etc. */

.form-section .introduction {
  max-width: 500px;
}

.form-section .forms {
  width: 60%;
  max-width: 450px;
}

.form-section .forms input {
  width: 100%;
}

.form-section .forms fieldset {
  min-width: 200px;
  padding: 10px;
}

.form-section .forms legend {
  font-size: 0.8rem;
  padding: 0 5px;
}

hr {
  width: 60%;
  margin: 30px 0;
}
