:root {
  font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: 400;

  color-scheme: dark;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Day/night switch, adds the classes to HTML body*/
.dark-color-mode {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.light-color-mode {
  color-scheme: light;
  color: rgba(51, 51, 51, 0.87);
  background-color: #e2e2e2;
}

.light-color-mode button {
  color: white;
}

.light-color-mode .footer p {
  color: black;
}

.light-color-mode .footer img {
  filter: invert(1);
}

.light-color-mode .formFieldSet {
  border: 2px solid black;
  box-shadow: 3px 3px black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
